<!DOCTYPE html>
<html ng-app="testMaker">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- 앵귤러 로딩 -->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="/js/admin.js"></script>
  </head>

  <script type="text/javascript">
      var userList = <%- JSON.stringify(locals.userList || null) %>;

  </script>
  <!-- ng-app으로 todomvc 앵귤러 모듈 사용을 브라우저에게 알린다 -->
  <body ng-controller="MainCtrl">
  <div class="main-layout">
    <div class="main-title">학생 관리</div>
    <div class="main-content gridListdemoBasicUsage">
      <md-grid-list
              md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >


        <md-grid-tile class="green" ng-repeat="item in userList">
            <h2> {{item.userId}} </h2>
          <h2> {{item.name}} </h2>
          <h3>{{item.birth}} </h3>
          <md-grid-tile-footer>
            <h3 ng-click="testResult(item.userId);">시험결과 보러가기</h3>
          </md-grid-tile-footer>

      </md-grid-list>
    </div>

  </div>

  </body>
</html>


<style>
  checkboxdemoSyncing .checkboxDemo1 div {
    clear: both; }

  .checkboxdemoSyncing legend {
    color: #3F51B5; }

  .checkboxdemoSyncing legend code {
    color: #3F51B5;
    font-weight: normal; }

  .checkboxdemoSyncing p {
    padding-left: 8px; }

  .checkboxdemoSyncing .info {
    padding-left: 13px; }

  .checkboxdemoSyncing div.standard {
    padding: 8px;
    padding-left: 15px; }

  .checkboxdemoSyncing fieldset.standard {
    border-style: solid;
    border-width: 1px;
    height: 100%; }

  textarea{
    resize: none;
  }

</style>