<!DOCTYPE html>
<html ng-app="testMaker">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- 앵귤러 로딩 -->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/board.js"></script>
  </head>

  <script type="text/javascript">
      var boardList = <%- JSON.stringify(locals.boardList || null) %>;

  </script>
  <!-- ng-app으로 todomvc 앵귤러 모듈 사용을 브라우저에게 알린다 -->
  <body ng-controller="MainCtrl">
  <div class="main-layout">
      <div class="main-title">지니 선생님의 퀴즈세상</div>

      <div class="main-content">
        <div class="main-menu"  > <md-button  ng-click="boardWrite();" class="md-raised md-primary">질문하기</md-button></div>
        <table class="table table-condensed" style="margin-top: 10px;">
          <thead>
          <tr >
            <th style="text-align: center;">제목</th>
            <th style="text-align: center;">날짜</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in boardList" ng-click="boardDetail(item._id);">
            <td>{{item.title}}</td>
            <td>{{item.date}}</td>
          </tr>

          </tbody>
        </table>
      </div>

  </div>

  </body>
</html>
