<!DOCTYPE html>
<html ng-app="testMaker">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- 앵귤러 로딩 -->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="/js/user.js"></script>
  </head>
  <!-- ng-app으로 todomvc 앵귤러 모듈 사용을 브라우저에게 알린다 -->
  <body ng-controller="MainCtrl">
  <div class="main-layout">
      <div class="main-title">지니 선생님의 퀴즈세상</div>
      <div class="main-content">
        <md-content layout-padding>
          <div>

            <md-input-container class="md-block" flex-gt-sm>
              <label>아이디</label>
              <input ng-model="userId">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>비밀번호</label>
              <input type="password" ng-model="pw">
            </md-input-container>



          </div>
        </md-content>
        <div class="main-menu" style="margin-top: -25px;" > <md-button  ng-click="doLogin();" class="md-raised md-primary">로그인</md-button></div>
      </div>

  </div>

  </body>
</html>
